
div.container-fluid {
  padding: 0;
}

div.video-container {
   z-index: 12;
   position: relative;
   height: 0;
	padding-bottom: 54.1%;
	padding-top: 2.2%;
}

iframe#opening-video {
	position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
	margin-top: -2%;
	border: none;
}

.contacts {
	margin-top: 5%;
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-bottom: 45px;
}

.sound-cloud-music {
	
  padding-top: 8%;
}

ul {
  list-style-type: none;
}
a.song {
  text-decoration: none;
  list-style-type: none;

}

.song-li {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: large;
}

.event-li {
  margin-bottom: 15px;
  font-size: large;
}

.upcoming-events {
  margin-bottom: 25px;
}

.events {
  padding-top: 10%;
}

.book-show {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #d4af37;
}

.soko-htag {
  color: #d4af37;
}

#event-title {
  color: #d4af37;
}

#music-title {
  color: #d4af37;
}

#contact-title {
  color: #d4af37;
}

p {
  font-size: 130%;
  /*font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;*/
}

hr.hr {
  color: 	#a48623;
  border-color: #a48623;
	background-color: #a48623;
   background-color: -webkit-linear-gradient(3deg,#a48623,#f4d258);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
